@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.overflow {
  overflow: hidden;
}

.root {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png");
  background-repeat: no-repeat;
  background-position: top;
}

.header {
  z-index: 5;
  box-sizing: content-box;
  width: 90%;
  max-width: 1440px;
  height: 80px;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  /*box-shadow: 0 -4px 0 -3px inset rgba(255, 255, 255, 0.5);*/
}

.header-link {
  color: #fff;
  margin: 0;
  text-decoration: none;
}

.header-link:visited {
  color: #fff;
}

.header__logo {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header__nav {
  color: #fff;
  min-width: 265px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav_mobile {
  display: none;
}

.login {
  min-width: 425px;
}

.header__nav-main {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 80px;
  line-height: 24px;
}

.chosen {
  box-shadow: 0 -4px 0 -2px inset rgba(255, 255, 255, 1);
}

.header__nav-saved {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 80px;
  line-height: 24px;
}

.header__nav-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px #fff solid;
  border-radius: 100px;
  width: 176px;
  height: 48px;
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
}

.header__nav-icon {
  margin-left: 10px;
}

.header__nav-menu {
  display: none;
}

.main {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.search {
  width: 90%;
  max-width: 608px;
  margin: 0 auto;
}

.search__title {
  margin: 80px 0 32px;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
}

.search__subtitle {
  width: 545px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.search__form {
  margin: 64px 0 80px;
  display: flex;
  width: 100%;
  max-width: 608px;
  height: 64px;
  background-color: #fff;
  border-radius: 100px;
}

.search__input {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 0;
  border: none;
  margin: auto 40px auto 24px;
  height: 22px;
  width: 100%;
  max-width: 376px;
}

.search__input::placeholder {
  color: rgb(182, 188, 191);
}

.search__submit {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  width: 100%;
  max-width: 168px;
  height: 64px;
  background-color: #2F71E5;
  border: none;
  border-radius: 100px;
}

.search__submit:hover {
  background-color: #347EFF;
}

.search__submit:focus {
  background-color: #2A65CC;
}

.results {
  background-color: #F5F6F7;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.results__title {
  width: 90%;
  max-width: 1232px;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 80px auto 0;
}

.results__cardbox {
  width: 90%;
  max-width: 1232px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  justify-items: stretch;
  margin: 64px auto;
}

.results__card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: none;
  width: 100%;
  max-width: 400px;
  background-color: white;
  box-shadow: 0 0 50px rgba(8, 29, 45, 0.1);
}

.results__card-bookmark {
  background-image: url("../images/bookmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  position: absolute;
  display: flex;

  top: 24px;
  right: 24px;
  width: 100%;
  max-width: 40px;
  height: 100%;
  max-height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
}

.results__card-bookmark:hover {
  background-image: url("../images/Rectangle 8.svg");
}

.results__card-bookmark-saved {
  background-image: url("../images/bookmark-checked.svg");
}

.results__card-bookmark-auth {
  padding: 0;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 69px;
  width: 182px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  line-height: 11.72px;
  font-weight: 500;
}

.results__bookmark-image {
  position: center;
  width: 24px;
  height: 24px;
  margin: auto;
}

.results__card-image {
  width: 100%;
  max-width: 400px;
  border-radius: 16px 16px 0 0;
}

.results__card-texts {
  width: 90%;
  max-width: 352px;
  margin: 20px auto 24px;
  height: 100%;
  max-height: 420px;
  display: flex;
  flex-direction: column;
}

.results__card-date {
  max-width: 128px;
  color: #B6BCBF;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.results__card-title {
  width: 100%;
  max-width: 352px;
  color: #1A1B22;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin: 12px 0 16px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.results__card-text {
  color: #1A1B22;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  max-height: 88px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.results__card-source {
  color: #B6BCBF;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .4px;
  margin: auto 0 0;
}

.results__button-more {
  padding: 0;
  background-color: #fff;
  border: none;
  border-radius: 100px;
  margin: auto auto 80px;
  width: 288px;
  height: 64px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #1A1B22;
}

.results__button-more:hover {
  background-color: #efefef;
}

.preloader {
  width: 100%;
  max-width: 1440px;
  position: relative;
  height: 282px;
  background-color: #F5F6F7;
}

.preloader__circle {
  display: block;
  width: 74px;
  height: 74px;
  border: 1px solid #1A1B22;
  border-bottom-color: #B6BCBF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 80px auto auto;
  animation: spin .9s infinite linear;
}

.preloader__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #B6BCBF;
  font-size: 18px;
  line-height: 24px;
  width: 280px;
  height: 24px;
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto 80px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.no-results {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  background-color: #F5F6F7;
}

.no-results__icon {
  margin: 80px auto 0;
}

.no-results__title {
  text-align: center;
  color: #1A1B22;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin: 24px auto 16px;
}

.no-results__text {
  text-align: center;
  width: 100%;
  max-width: 306px;
  margin: 0 auto 80px;
  color: #B6BCBF;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.about {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1440px;
  padding: 0 5%;
  background-color: white;
}

.about__avatar {
  display: block;
  width: 100%;
  max-width: 464px;
  height: auto;
  margin: 80px 0 auto;
}

.about__block {
  width: 100%;
  max-width: 600px;
  margin: 131px 0 279px 56px;
}

.about__title {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.about__text {
  width: 100%;
  max-width: 600px;
  margin: 24px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  color: #1A1B22;
}

.footer {
  margin: 0 auto;
  width: 90%;
  max-width: 1232px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__text {
  margin: auto 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

.footer__nav-text {
  margin: auto 0;
  color: #1A1B22;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  width: 100%;
  max-width: 414px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__nav-links {
  width: 100%;
  max-width: 304px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__nav-icons {
  width: 100%;
  max-width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__nav-github {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.footer__nav-facebook {
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  margin: auto;
}

.footer-link {
  color: #1A1B22;
  text-decoration: none;
  margin: 0;
}

.footer-link:visited {
  color: #1A1B22;
}

.button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.popup__signin {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 279px auto auto;
  border-radius: 16px;
  width: 100%;
  max-width: 430px;
  height: 380px;
  background-color: #fff;
}

.popup__signin-title {
  width: 90%;
  max-width: 360px;
  margin: 34px auto 22px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
}

.popup__signin-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 360px;
  margin: 0 auto;
}

.popup__signin-form-block {
  height: 64px;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

.popup__signin-form-label {
  width: 100%;
  max-width: 360px;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
  font-family: Inter, sans-serif;
}

.popup__signin-form-input {
  border: none;
  width: 100%;
  max-width: 360px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding: 0;
  height: 33px;
}

.popup__signin-form-error {
  width: 100%;
  max-width: 360px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;

}

.popup__signin-form-submit {
  padding: 0;
  height: 64px;
  border: none;
  width: 100%;
  max-width: 360px;
  border-radius: 100px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 24px;
  font-weight: 500;
  color: #B6BCBF;
  margin: 8px 0 16px;
}

.popup__signin-form-text {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.popup__link {
  text-decoration: none;
  color: #2F71E5;
}

.popup__link:visited{
  color: #2F71E5;
}

.popup__signup {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 279px auto auto;
  border-radius: 16px;
  width: 100%;
  max-width: 430px;
  height: 457px;
  background-color: #fff;
}

.popup__signup-form-submit {
  padding: 0;
  height: 64px;
  border: none;
  border-radius: 100px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  background-color: #2F71E5;
  margin: 8px 0 16px;
}

.popup__signup-success {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 279px auto auto;
  border-radius: 16px;
  width: 100%;
  max-width: 430px;
  height: 182px;
  background-color: #fff;
}

.popup__signup-success-title {
  margin: 43px 0 14px 36px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  width: 100%;
  max-width: 315px;
}

.popup__signup-form-error {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

.popup__signup-success-button {
  padding: 0;
  margin: 0 0 0 36px;
  border: none;
  background-color: #fff;
  font-family: Inter, sans-serif;
  font-size: 18px;
  width: 100%;
  max-width: 228px;
  height: 22px;
  color: #2F71E5;
  text-align: left;
}

.close-button {
  position: absolute;
  top: -46px;
  right: -46px;
  z-index: 100;
}

.close-button:hover {
  cursor: pointer;
}


/*saved*/

.header_black {
  box-sizing: content-box;
  max-width: 1440px;
  height: 80px;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 -4px 0 -3px inset rgba(0, 0, 0, 0.1);
}

.header-link_black {
  color: #000;
  margin: 0;
  text-decoration: none;
}

.header-link_black:visited {
  color: #000;
}
.root_saved {
  background-image: none;
}

.header__nav_black {
  color: #1A1B22;
  min-width: 265px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  min-width: 425px;
}

.header__nav-main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 80px;
  line-height: 24px;
}

.chosen_black {
  box-shadow: 0 -4px 0 -2px inset rgb(0, 0, 0);
}

.header__nav-login_black {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px #000 solid;
  border-radius: 100px;
  width: 176px;
  height: 48px;
  margin: 0;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
}

.info {
  color: rgba(26,27,34, .5);
  margin: 0 auto;
  width: 90%;
  max-width: 1232px;
}

.info__title {
  margin: 40px 0 28px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.info__subtitle {
  margin: 0;
  color: #1A1B22;
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  width: 90%;
  max-width: 530px;
}

.info__keywords {
  color: #1A1B22;
  margin: 30px 0 56px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.info__keyword-bold {
  font-weight: 600;
}

.results__card-delete {
  background-image: url("../images/trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  position: absolute;
  display: flex;

  top: 24px;
  right: 24px;
  width: 100%;
  max-width: 40px;
  height: 100%;
  max-height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
}

.results__card-delete:hover {
  background-image: url("../images/trash-hover.svg");
}

.results__card-bookmark-remove {
  z-index: 3;
  padding: 0;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 69px;
  width: 159px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 11.72px;
  font-weight: 500;
}

.results__card-keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  size: 14px;
  padding: 0 12px;
  position: absolute;
  top: 24px;
  left: 24px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 920px){
  .results__card-bookmark-auth {
    display: none;
  }

  .results__card-bookmark-remove {
    display: none;
  }
}

@media screen and (max-width: 768px){
  .root {
    max-width: 768px;
  }

  .search {
    max-width: 452px;
  }

  .search__title {
    font-size: 36px;
    max-width: 385px;
    line-height: 40px;
    margin: 38px 0 16px;
  }

  .search__subtitle {
    max-width: 452px;
  }

  .search__form {
    margin: 48px 0;
    max-width: 452px;
  }

  .results {
    max-width: 768px;
  }

  .results__title {
    margin: 40px auto 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
  }

  .results__cardbox {
    column-gap: 8px;
    margin: 32px auto;
  }

  .results__card-texts {
    margin: 16px;
  }

  .results__card-title {
    font-size: 22px;
    line-height: 24px;
  }

  .results__button-more {
    max-width: 240px;
    margin-bottom: 40px;
  }

  .about__avatar {
    max-width: 232px;
    margin-top: 61px;
  }

  .about__block {
    margin: 40px auto 72px 32px;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
  }

  .about__text {
    margin: 16px auto;
  }
}

@media screen and (max-width: 690px) {

  .root {

  }

  .header {
    position: relative;
    /*background-color: #1A1B22;*/
  }

  .header__nav {
    position: relative;
    display: none;
  }

  .header__nav_mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 230px;
    background-color: #1A1B22;
    top: 81px;
    left: 0;
    z-index: 5;
    border-radius: 0 0 16px 16px;
  }

  .header__nav-main_mobile {
    margin: 34px 5%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .header__nav-saved_mobile {
    margin: 0 5%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .header__nav-login_mobile {
    padding: 0;
    margin: 34px auto 24px;
    width: 90%;
    max-width: 288px;
    height: 56px;
    background-color: #1A1B22;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .header__nav-menu {
    display: flex;
    width: 24px;
    height: 24px;
    margin: auto 0;
    align-items: center;
  }

  .search__title {
    margin: 30px 0 16px;
  }

  .search__subtitle {
    max-width: 288px;
  }

  .search__form {
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    height: 128px;
    max-width: 288px;
    margin: 122px auto 32px;
  }

  .search__input {
    height: 56px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    max-width: 288px;
    border: 1px solid #B6BCBF;
    border-radius: 100px;
    padding: 16px;
  }

  .search__submit {
    max-width: 288px;
    height: 56px;
  }

  .results__title {
    margin: 40px auto 0;
    max-width: 400px;
  }

  .results__cardbox {
    margin: 16px auto;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
  }

  .results__card {

  }

  .results__card-image {
    max-width: 690px;
  }

  .results__card-texts {
    box-sizing: border-box;
    max-width: 400px;
  }

  .no-results__title {
    max-width: 320px;
  }

  .no-results__text {
    max-width: 320px;
  }

  .about {
    flex-direction: column;
  }

  .about__avatar {
    max-width: 272px;
    margin: 32px auto 0;
  }

  .about__block {
    margin: 24px auto 80px;
  }

  .about__text {
    margin: 16px auto 0;
  }

  .footer {
    height: 176px;
    flex-wrap: wrap-reverse;
    justify-content: normal;
  }

  .footer__text {
    margin: 40px auto 16px;
    height: 22px;
    font-size: 15px;
  }

  .footer__nav-text {
    margin: 20px auto 0;
    height: 72px;
    align-items: normal;
  }

  .footer__nav-links {
    flex-direction: column;
    align-items: normal;
    height: 72px;
    justify-content: space-between;
  }

  .popup__signin {
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: 0;
    max-width: 100vw;
    height: 100vh;
  }

  .popup__signin-close {
    top: -60px;
    right: 8px;
  }

  .popup__signup {
    margin: 0;
    position: absolute;
    top: 80px;
    max-width: 100vw;
    left: 0;
    height: 100vh;
  }

  .popup__signup-success {
    margin: 0;
    position: absolute;
    top: 80px;
    max-width: 100vh;
    left: 0;
    height: 100vh;
  }

  .popup__signup-success-title {
    margin: 16px auto;
    width: 100%;
    max-width: 228px;
  }

  .popup__signup-success-button {
    margin: 0 auto;
  }
}

.disabled {
  display: none;
}

.mobile-header {
  background-color: #1A1B22;
}
